:root {
    color: #f6f4f1;
    font-family: "Permanent Marker", cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #004225;
    border: 25px solid #B76F20;
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
}

.title {
    cursor: default;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.players-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.player-container {
    cursor: default;
    text-align: center;
}

.player {
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    color: #f6f4f1;
    font-family: "Permanent Marker", cursive;
    font-size: 1.5rem;
    box-shadow: none;
}

.player:hover,
.player:focus {
    border-color: #f6f4f1;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    margin-top: 2rem;
}

.cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 6rem;
    height: 120px;
    width: auto;
    border: 3px solid #f6f4f1;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.button-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.restart-button {
    cursor: pointer;
    border: 3px solid #f6f4f1;
    border-radius: 10px;
    background-color: #004225;
    color: #f6f4f1;
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    padding: 10px 20px;
}

.restart-button:active {
    scale: 0.95;
}